.nav {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  font-family: "Courier New", Courier, monospace;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

h2 { 
  font-family: "Courier New", Courier, monospace;
  position: relative; 
  top: 50px;
  text-align: center;
}

img{
  position: relative; 
  top: 75px;
  left: 800px;
  width: 25%;
  height: 25%;
}

li{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  list-style: none;
  margin: 10px 0;
  bottom: 300px;
  right: 250px;
  text-align: center;
}

li a{
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.back{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  display: block; 
  padding: 20px 20px;
  top: 100px;
  left: 40px;
  color: grey;
}








